@page "/Register"

@using BAIT_MEDIA_DataAccessLibrary
@using BAIT_MEDIA_DataAccessLibrary.Models
@using BAIT_MEDIA.Components

@inject IUserData _db

<PageTitle>Register</PageTitle>

<div style="height: 91vh;" class="centerVH">
    <RegisterForm/>
</div>


@code {

    private List<UserModel> users;

    protected override async Task OnInitializedAsync()
    {
        users = await _db.GetAllUsers();
    }

}
