

<div class="footer centerVH">
    <span>Since 2022, BAIT Media, All rights reserved ©</span>
    <div class="footerIcons">
        <a target="_blank" href="mailto:enquiries.baitmedia@gmail.com"><i class="fa-solid fa-envelope icon"></i></a>
        <a target="_blank" href="https://www.instagram.com/officialbaitmedia/"<i class="fa-brands fa-instagram icon"></i></a>
        <a target="_blank"><i class="fa-brands fa-youtube icon"></i></a>
        <a href="/Login"><i class="fa-solid fa-key icon"></i></a>
    </div>
</div>

<style>

    .footer {
        background-color: rgba(17,17,17, 0.7);
        width: 100vw;
        text-align: center;
        padding: 1em 1.5em;
        display: flex;
        flex-direction: column;
    }
    
    .footer span {
        padding: 0 1em;
        font-size: 0.8em;
        font-weight: 600;
        margin-bottom: 0.5em;
    }
    
    .footerIcons i {
        padding: 0 1em;
    }

</style>

@code {

}
